*{
    margin: 0;
    padding: 0;
}

.Navbar {
    background-color: rgb(120, 95, 64);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.links {
    display: flex;
    flex-direction: row;
}

.link {
    text-decoration: none;
    color: black;
    margin: 15px;

}
.logo {
    height: 60px;

}

.padrao-img {
    height: 100PX;
}

.header {
    background-color: rgb(170, 135, 91);
}