*{
    margin: 0;
    padding: 0;
}

.Navbar {
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.header {
    background-color: rgb(70, 53, 32);
    display: flex;
    flex-direction: row;

}

.imagem-header {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.conteudo-header {
    width: calc(50% - 30px);
    background-color: burlywood;
    padding: 15;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.links {
    display: flex;
    flex-direction: row;
}

.link {
    text-decoration: none;
    color: blanchedalmond;
    margin: 15px;

}
.logo {
    height: 60px;

}

.card {
    background-color: burlywood;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.padrao-img {
    height: 100PX;
}

.Seção_1 {
    background-color: black;
    padding: 20px;
}

.conteudo-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.seção_2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 20px;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
    background-color: burlywood;
}
